<!DOCTYPE html>
<html>
    <head>
        <title>Static HTML Page</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{!-- Implementing Partials --}}
        {{>header}}
        <p>Created by {{name}}</p>
    </body>
</html>